{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login">
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                <li>
                    {{ field.label }}
                    <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if formimageset.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for dict in formset.errors %}
                    {% for error in dict.values %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
      {{ success }}
    </div>
    {% endif %}
    <form action="" method="post" action=" " enctype="multipart/form-data">
        {% csrf_token %}
        {{ formimageset.management_form }}
        
        <div class="row">
            <div class="col-lg-12">    
                <div class="register-form">
                    <div class="row">
                        {% for element in form %}
                        <div class="col-md-6">
                            {% if element.name == "productCategory"  %}
                                <label> {{ element.label }}</label>
                                <select class="form-control" aria-label="Default select example" name={{ element.name  }}>
                                    {% for category in categories %}
                                    <option value={{ category.categoryID }}> {{ category.categoryName }} </option>
                                    {% endfor %}
                                </select>
                            {% elif  element.name == "productShortDesc" or element.name == "productLongDesc" or element.name == "productCartDesc"  %}
                                <label> {{ element.label }}</label>
                                <textarea class="form-control" name={{ element.name }} ></textarea>
                            {% elif  element.name == "productUpdateDate"  %}
                                <label> {{ element.label }}</label>
                                <input  type="text"  class="form-control" name={{ element.name }} value={{ element.value }} disabled >
                            {% elif  element.name == "isProductAvailable"  %}
                                <input  type="checkbox" class="form-check-input" name={{ element.name }}>
                                <label class="form-check-label" for="headerimage"> {{ element.label }}</label>
                            {% elif  element.name == "productCoverImage"  %}
                                <label class="form-check-label" for="headerimage"> {{ element.label }}</label>
                                <div class="custom-file">
                                    <input type="file" class="form-control-file" id="coverimage" name={{ element.name }}>
                                </div>
                            {% else %}
                                <label> {{ element.label }}</label>
                                <input class="form-control" type="text" name={{ element.name }}>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% for images in formimageset %}
                    {% with id=forloop.counter0|stringformat:"s"%}
                    {% with inputname="form-"|add:id|add:"-"|add:"image" %}
                    {% with idname="id_"|add:inputname %}
                        <!-- {{ images.media  }} -->
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                {% for element in images %}
                                    <div class="col-md-6">
                                        {% if element.name == "image"  %}
                                        <div class="custom-file">
                                            <input type="file" class="form-control-file" id={{ idname }} name={{ inputname }}>
                                        </div>
                                        {% elif element.name == "id" %}
                                            <input type="hidden" id={{ element.name }} name={{ element.name }}>
                                        {% else %}
                                            <input  type="checkbox" class="form-check-input" name={{ element.name }}>
                                            <label class="form-check-label" for="headerimage"> {{ element.label }}</label>                                     
                                        {% endif %}
                                    </div>
                                {% endfor %}        
                            </div>
                        </div>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}